$main-color: #F44336;
$secondary-color: white;
$main-color: #333;
$secondary-color: #2196f3;
$width: 550px; // Change Me

.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}

.centered {
  display: flex;
  margin: auto;
  width: 550px;
  height: 110px;
}

.group {
  width: 100%;
  height: $width/5;
  overflow: hidden;
  position: relative;
}

label {
  position: absolute;
  top: $width/15;
  color: rgba(white, .5);
  font-family: 'Roboto', sans-serif;
  font-size: $width/15;
  font-weight: 400;
  cursor: text;
  transition: .25s ease;
}

input {
  display: block;
  width: 100%;
  padding-top: $width/15;
  border: none;
  border-radius: 0; // For iOS
  color: white;
  background: $main-color;
  font-size: $width/15;
  transition: .3s ease;

  &:valid {
    ~ label {
      top: 0;
      font-family: 'Roboto', sans-serif;
      font-size: $width/25;
      font-weight: 500;
      color: rgba(white, .5);
    }
  }

  &:focus {
    outline: none;

    ~ label {
      top: 0;
      font-family: 'Roboto', sans-serif;
      font-size: $width/25;
      font-weight: 500;
      webkit-box-shadow: 0 0 0px 1000px $main-color inset;
    }


    ~ .bar:before {
      transform: translateX(0);
    }
  }

  // Stop Chrome's hideous pale yellow background on auto-fill

  &:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px $main-color inset;
    -webkit-text-fill-color: white !important;
  }
}

.bar {
  background: rgba(white, .5);
  content: '';
  width: $width;
  height: $width/150;
  transition: .3s ease;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
    transform: translateX(-100%);

  }
}

::selection {
  background: rgba($secondary-color, .3);
}
