<app-connexion></app-connexion>
<app-document-list></app-document-list>
<div *ngFor="let message of messageList">
  <div class='chat-wrapper'>
    <div class='chat-message chat-message-sender'>
      <img class='chat-image chat-image-default' src='https://image.flaticon.com/icons/png/512/36/36601.png'/>
      <div class='chat-message-wrapper'>
        <div class='chat-message-content'>
          <p>{{message}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<input [(ngModel)]="newMessage" (keyup)="$event.keyCode == 13 && sendMessage()"/>
<button (click)="sendMessage()">Send Message</button>
