.sidenav {
  .text-sideNav {
    padding: 8px 30px 8px 8px;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    //color: #818181;
    display: flex;
    flex-direction: row;
  }

  .selected {
    color: #e1e1e1;
  }

  .new-channel {
    padding: 8px 30px 8px 8px;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Roboto', Tahoma, Geneva, Verdana, sans-serif;
    color: #818181;
  }

  :hover {
    color: #f1f1f1;
    cursor: pointer;
  }
}

.channel-name {
  margin-left: 25px;
  margin-right: 10px;
  margin-bottom: 0;
  margin-top: 0;
}

.channel-name-general {
  margin-left: 25px;
  margin-right: 10px;
  margin-bottom: 0;
  margin-top: 0;
  color: white;
}


.squaredThree {
  position: relative;

  label {
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(top, #222 0%, #45484d 100%);
    border-radius: 4px;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5),
    0px 1px 0px rgba(255, 255, 255, 0.4);

    &:after {
      content: "";
      width: 9px;
      height: 5px;
      position: absolute;
      top: 4px;
      left: 4px;
      border: 3px solid #fcfff4;
      border-top: none;
      border-right: none;
      background: transparent;
      opacity: 0;
      transform: rotate(-45deg);
    }

    &:hover::after {
      opacity: 0.3;
    }
  }

  input[type="checkbox"] {
    visibility: hidden;

    &:checked + label:after {
      opacity: 1;
    }
  }
}

.input-color-container {
  margin-left: 15px;
  position: relative;
  overflow: hidden;
  width: 20px;
  height: auto;
  border: solid 2px #818181;
  border-radius: 8px;
}

.input-color {
  position: absolute;
  right: -6px;
  top: -7px;
  width: 65px;
  height: 32px;
  border: none;
}
