<div class='sidenav'>
  <span class="new-channel" (click)='newDoc()'>Nouveau channel </span>
  <span class="text-sideNav" *ngFor='let docId of documents | async'>

    <section title=".squaredThree">
      <div class="squaredThree">
        <ng-template [ngIf]="docId.id != 'general'" [ngIfElse]="channel">
          <input type="checkbox" id="{{docId.id}}" name="check" value="0" (click)="checkBox(docId.id)"/>
           <label for="{{docId.id}}"></label>
        </ng-template>
        <ng-template #channel>
          <input type="checkbox" name="check" value="0" (click)="checkBox(docId.id)" checked/>
           <label for="{{docId.id}}"></label>
        </ng-template>
      </div>
    </section>

    <ng-template [ngIf]="docId.id != 'general'" [ngIfElse]="general">
      <p class="channel-name" [ngStyle]="{'color': docId.color}" id="{{ docId.id }}">{{ docId.id }}</p>
    </ng-template>
    <ng-template #general>
      <p class="channel-name-general">{{ docId.id }}</p>
    </ng-template>

    <!--    <input type="text" (keyup)="$event.keyCode == 13 && editDoc(docId.id, $event)">-->
    <div *ngIf="docId.username == getUsername()">
    <i *ngIf="docId != 'general'" class="zmdi zmdi-edit" (click)="editDoc(docId, $event)"></i>

    <div *ngIf="docId.id != 'general'" class="input-color-container">
      <input class="input-color" type="color" id='{{ id }}' [value]='docId.color'>
    </div>


    <i *ngIf="docId != 'general'" class="zmdi zmdi-close-circle"
       (click)="deleteDoc(docId.id)"></i>
    </div>
  </span>
</div>
